{% extends 'base.html' %} {% block title %} Sinüzoidal İşaret Çizdirme {%
endblock %} {% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column form-column">
    <h2 class="ui teal top attached header">
      <div class="content">Sinüzoidal İşaret Çizdirme</div>
    </h2>
    <div class="ui attached segment">
      <a class="ui green button" href="/frekans">Frekans Çiz</a>
      <a class="ui red button" href="/arrange">Aralık Çiz</a>
    </div>
  </div>
</div>
{% endblock %}
